title: "gutobaroni | Blog"
description: "Um blog pessoal focado em design, desenvolvimento iOS e sobre projetos como o Loop - Podcast Player."
# baseurl: ""
# url: ""
baseurl: "/gutobaroni-blog"
url: "https://augustobsimionato.github.io"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
